.next, .back {
    position: absolute;
    z-index: 5;
    bottom: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(121, 121, 121, 0.5);
}
.next:hover {
    transform: scale(1.1);
}
.back:hover {
    transform: scale(1.1) rotate(180deg);
}
.next {
    right: 2rem;
}
.back {
    left: 2rem;
    transform: rotateY(180deg);
}